.DS_Store
.env
.flaskenv
*.pyc
*.pyo
venv
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
/.venv
__pycache__/
.cache
pipenv.egg-info/
*.swp
Pipfile.lock

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover
